.movie-card {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.movie-img {
  padding: 5px;
}

.more-button {
  margin: auto;
  margin-top: 10px;
  background-color: #0984e3;
  border: none;
}
