* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "monstserrat", sans-serif;
  background-color: #2d3436;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

// .main-view {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   column-gap: 10px;
//   row-gap: 15px;
// }
